<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome! We are commited to provide you best service available in the market</h1>
    <p style="background-color: antiquewhite;color: blueviolet;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repudiandae tempore 
        ipsum ipsam doloribus. Optio est deleniti corrupti maiores voluptatibus? Quis 
        sint exercitationem corrupti pariatur alias repellat numquam laboriosam ea.</p>
</body>
</html>